*{
    box-sizing: border-box;
}
html{
    box-sizing: inherit;
}
section{
    text-align: center;
    width: 250px;
    height:240px;
    border:5px dotted #1ec882;
 

}
section p{
    border: 5px solid #0836ca;
    width:100%;
    padding:20px;

}